/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Roboto Slab', serif;*/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App{
  font-family: 'Roboto Slab', serif;
}

header{
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  padding: 20px 0;
}

header .container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  display: flex;
  height: 29px;
  align-items: center;
}

header .logo span{
  width: 30px;
  height: 29px;
  background-color: #7cc576;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3px;
}

header .logo p {
  color: #555555;
  font-size: 18px;
  font-weight: 700;
  line-height: 41px;
  text-transform: uppercase;
}

header nav{
  display: none;
}

.fa-bars{
  font-size: 30px;
}

ul{
  list-style-type: square;
}

.portfolio{
  width: 100%;
  background-image: url("./img/bgPortfolio.png");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.portfolio:after {
  content: '';
  position: absolute;
  width: 100%;
  height:100%;
  top:0;
  left:0;
  background:rgba(0,0,0,0.5);
}

.portfolio .container{
  width: 100%;
  max-width: 960px;
  height: 300px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.portfolio h1 {
  color: white;
  z-index: 10;
}

.portfolio p {
  color: rgba(204, 204, 204, 255);
  z-index: 10;
}

.portfolio button {
  width: 150px;
  height: 40px;
  background-color: #7cc576;
  color: white;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.portfolio button:hover{
  background: rgb(43,128,34);
  background: linear-gradient(0deg, rgba(43,128,34,1) 0%, rgba(124,197,118,1) 100%);
}

.service {
  width: 100%;
  padding: 20px 0;
}

.service .container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service h2 {
  font-size: 25px;
}

.service p {
  font-size: 15px;
  margin-bottom: 15px;
}

.service_icon div{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 274px;
  margin: 10px auto;
}

.service_icon div h3 {
  margin: 5px 0;
}

.service_icon div p {
  text-align: center;
}

.moreInfo {
  width: 100%;
}

.moreInfo .container{
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
}

.moreInfo .rack{
  display: none;
}

.moreInfo_content{
  background-image: url("./img/Background_Sea.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  color: white;
  position: relative;
}

.moreInfo_content:after{
  content: '';
  position: absolute;
  width: 100%;
  height:100%;
  top:0;
  left:0;
  background:rgba(0,0,0,0.5);
}

.moreInfo_content h2{
  font-size: 25px;
  z-index: 3;
  text-align: center;
}

.moreInfo_content h2 span{
  color: #7cc576;
  margin-right: 5px;
}

.moreInfo_content p {
  font-size: 15px;
  margin-bottom: 15px;
  text-align: center;
  z-index: 3;
}

.moreInfo_content li {
  z-index: 3;
  list-style-type: none;
  position: relative;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.moreInfo_content li img{
  margin-right: 10px;
}

.moreInfo_content li .chechMark{
  position: absolute;
  left: 8px;
}

.moreInfo_content button{
  background-color: #7cc576;
  color: white;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  border: #7cc576;
  text-transform: uppercase;
  z-index: 3;
  cursor: pointer;
  margin: 10px 0;
}

.moreInfo_content button:hover{
  background: rgb(43,128,34);
  background: linear-gradient(0deg, rgba(43,128,34,1) 0%, rgba(124,197,118,1) 100%);
}

@media screen and (min-width: 600px){
  header nav{
    display: block;
  }

  header li{
    list-style-type: none;
    display: inline-block;
    margin: 0 10px;
  }

  header li a{
    text-decoration: none;
    color: #777777;
    font-size: 14px;
    line-height: 41px;
    text-transform: uppercase;
    font-weight: bold;
  }

  header li a:hover{
    text-decoration: underline;
  }

  .fa-bars{
    display: none;
  }

  .portfolio .container{
    height: 450px;
  }

  .portfolio h1 {
    font-size: 45px;
  }

  .portfolio p {
    font-size: 20px;
  }

  .portfolio button {
    width: 200px;
    height: 60px;
    font-size: 20px;
  }

  .service h2 {
    font-size: 35px;
  }

  .service h2+p {
    font-size: 20px;
    margin-bottom: 25px;
  }

  .service_icon {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }

  .service_icon div h3 {
    text-transform: uppercase;
  }

  .service_icon div:last-of-type img{
    margin-bottom: 10px;
  }


  .moreInfo_content{
    padding: 50px;
    align-items: flex-start;
  }

  .moreInfo_content h2{
    font-size: 35px;
    text-align: left;
  }

  .moreInfo_content p{
    font-size: 16px;
    margin: 30px 0;
    width: 490px;
    text-align: left;
  }

  .moreInfo_content li {
    margin-bottom: 20px;
  }

  .moreInfo_content button{
    width: 168px;
    height: 55px;
    border-radius: 25px;
    font-size: 17px;

  }
}

@media screen and (min-width: 960px) {
  .portfolio .container{
    height: 530px;
  }

  .portfolio h1{
    font-size: 60px;
    width: 520px;
    text-align: center;
    text-transform: uppercase;
  }

  .service h2 {
    font-size: 40px;
    text-transform: uppercase;
  }

  .service h2+p {
    margin-bottom: 80px;
  }

  .service_icon div h3 {
    margin-top: 40px;
    margin-bottom: 16px;
  }

  .moreInfo{
    background-color: #e9e9e9;
  }

  .moreInfo .container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .moreInfo_content{
    padding: 100px;
    width: 70%;
    position: relative;
  }

  .moreInfo .rack{
    width: 30%;
    height: 416px;
    display: block;
    position: relative;
  }

  .moreInfo .rack img{
    position: absolute;
    right: -195px;
  }
}